.header {
  box-shadow: 0px 0px 6px 0.5px #999;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
}

.nav h2 {
  padding-left: 10px;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav ul li {
  margin: 0px 15px;
}

.nav a {
  text-decoration: none;
  color: #333;
}

.nav li:hover {
  text-decoration: underline;
}

.nav img {
  width: 40px;
  margin-right: 2em;
}

.navFooter {
  background-color: #222;
  display:flex;

  bottom: 0;
  right: 0;
  left: 0;
  justify-content: center;
  align-items: center;
}

.navFooter h2 {
  color: white;
}

.navFooter ul {
  list-style: none;
}
.navFooter li {
  color: white;
  margin: 5px;
}

.navFooter a {
    text-decoration: none;
}

.navFooter img {
  width: 50px;
}
